<h1>Product List</h1>
<ul>
  <% products.forEach(product => { %>
    <li>
      <strong><%= product.name %></strong>
      <%= product.description %><br>
      Quantity: <%= product.quantity %>
      Category: <%= product.category_name %>
      Quantity: <%= product.quantity %>
      Price: $<%= product.price %>

      <form action="/<%= product.id %>/delete" method="post">
        <button type="submit">DELETE</button>
      </form>
    </li>
  <% }); %>
</ul>
<a href="/newproduct">Create products</a>
<a href="/categories">Go To Categories</a>